@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #0c0c0c;
    
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    
} 


.logo {
    cursor: pointer;
    margin-left: 5px;
    max-width: 120px;
    max-height: auto;
    margin-left: auto;
    padding-right: 20px;
}

.nav__links {
    list-style: none;
    display: inline;
    margin-left: auto;
}



.nav__links li {
    padding: 0px 20px;
    display: inline-block;
    
}

.nav__links li a {
    transition: all 0.3s ease 0s;

}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.cta {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    color: #edf0f1;
}

h2 {
    color:#edf0f1;
}

.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 25px;
}

.box1 h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;

}

.box input[type="text"], .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgba(0,136,169,1);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {

    width: 270px;
    border-color: #fae902;
}

.box input[type="submit"] {

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #fae902;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;

}

.box input[type="submit"]:hover {
    background: #fae902;
    color: #0c0c0c;


}
